body {
    // height: 100%;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.header {
    height: 67px;
    &__adress {
        font-size: 14px;
    }
    &__phone {
        span {
            line-height: 24px;
            margin: 0 24px 0 9px;
        }
    }
}
.button {
    font-size: 14px;
    background: #0DBC91;
    color: #fff;
    border-radius: 50px;
    width: 196px;
    height: 43px;
    &__outline {
        background: none;
        border: 1px solid #0DBC91;
        color: #0DBC91; 
        margin-left: 14px;
    }
    &__form {
        width: 100%;
        margin-top: 30px;

    }
}
.menu {
    background: #1FA181;
    height: 43px;
}
.nav-link {
    color: #fff;
    line-height: 24px;
    &:hover {
        color: #000;
    }
}
.main {
    background: #F8FBFA;
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
    }
    .subtitle {
        font-size: 22px;
        line-height: 28px;
    }
    .paragraph {
        line-height: 24px;
        margin-top: 14px;
    }
}

.footer {
    background: #08664F;
    height: 144px;
    &__icon {
        margin: auto 7px;
        cursor: pointer;
    }
}
.carousel {
    padding: 100px 0 ;
    &__wrapper {
        background: #E2F0EF;
        padding: 53px 0 56px 63px;
        position: relative;
        height: 440px;
    }
    .title {
        font-size: 38px;
        line-height: 49px;
        text-transform: uppercase;
    }
    ul {
        margin: 11px 0 0 16px;
        li {
            margin-top: 5px;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                background: #1FA181;
                border-radius: 50%;
                position: absolute;
                top: 9px;
                left: -18px;
            }
        }
    }
    .btns__wrapper {
        margin-top: 26px;
    }
    .price {
        margin-top: 33px;
        font-size: 20px;
        line-height: 26px;
        span {
            font-size: 16px;
            text-decoration-line: line-through;
            color: #868686;
            margin-left: 16px;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 440px;
        width: auto;
    }
    &__nav {
        margin-top: 39px;
        .arrow {
            border: none;
            background: none;
        }
    }
    &__slide_num {
        font-size: 18px;
        line-height: 23px;
        color: #C0C0C0;
        margin: 0 36px;
        span {
            color: #000;
        }
    }
}
.hamburger {
    position: absolute;
    top: 31px;
    cursor: pointer;
        span {
            transition: 0.3s all; 
            display: block;
            width: 37px;
            height: 4px;
            background: #1FA181;
            &:first-child {
                position: absolute;
                top: -10px;
            }
            &:last-child {
                position: absolute;
                top: 10px;
            }
        }
    &_active {
        span {
            display: none;
            &:first-child {
                display: block;
                transform: rotate(45deg) translateY(7px) translateX(7px);
            }
            &:last-child {
                display: block;
                transform: rotate(-45deg) translateY(-7px) translateX(7px);
            }
        }
    }
}
.popup {
    position: absolute;
    display: none !important;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(69, 146, 127, 0.9);
    &_active {
        display: flex !important;
    }
    .forms {
        position: relative;
        width: 400px;
        background: #fff;
        padding: 50px;
        border-radius: 25px;
        &__item {
            padding: 25px;
            width: 100%;
            height: 50px;
            margin-top: 30px;
            border-radius: 25px;
            border: 1px solid #08664F;
            color:#08664F;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .hamburger {
        top: 30px;
        right: 50px;
        z-index: 200;
        span {
            background:#08664F;
        }
    }
}
